body {
  font-family: "Merriweather", serif;
  color: #b4b3b1;
  background-color: #2f3031;
}

a,
a:visited {
  text-decoration: none;
  color: #0da5ec;
}

code {
  font-family: "Fira Code", monospace;
}

img {
  max-width: 100%;
}

@keyframes bg-movement-one {
  0% {
    transform: rotate(45deg) translate(0, 150vh, 0);
  }
  100% {
    transform: rotate(45deg) translate(0, -150vh, 0);
  }
}
@keyframes bg-movement-two {
  0% {
    transform: rotate(45deg) translate(0, 0vh, 0);
  }
  50% {
    transform: rotate(45deg) translate(0, -150vh, 0);
    opacity: 1;
  }
  51% {
    transform: rotate(45deg) translate(0, -150vh, 0);
    opacity: 0;
  }
  52% {
    transform: rotate(45deg) translate(0, 150vh, 0);
    opacity: 0;
  }
  53% {
    transform: rotate(45deg) translate(0, 150vh, 0);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(0, 0vh, 0);
  }
}
.background {
  position: fixed;
  left: -25vh;
  top: -25vh;
  z-index: -1;
  width: 150vw;
  height: 150vh;
  animation-name: bg-movement-one;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
  animation: none;
  transform: rotate(45deg);
}
.background.two {
  animation-name: bg-movement-two;
}
.background .background-particle {
  position: relative;
  display: inline-block;
  z-index: -1;
}
.background.slow {
  animation-duration: 400s;
}
.background.slow > .background-particle {
  width: 10px;
  height: 64px;
  box-shadow: inset 0 64px 32px -48px rgba(255, 255, 255, 0.05);
}
.background.medium {
  animation-duration: 200s;
}
.background.medium > .background-particle {
  width: 6px;
  height: 48px;
  box-shadow: inset 0 48px 24px -36px rgba(255, 255, 255, 0.05);
}
.background.fast {
  animation-duration: 100s;
}
.background.fast > .background-particle {
  width: 4px;
  height: 32px;
  box-shadow: inset 0 32px 16px -24px rgba(255, 255, 255, 0.05);
}
.background.slow > .background-particle:nth-child(1) {
  top: 88%;
  left: 16%;
}
.background.slow > .background-particle:nth-child(2) {
  top: 60%;
  left: 21%;
}
.background.slow > .background-particle:nth-child(3) {
  top: 86%;
  left: 92%;
}
.background.slow > .background-particle:nth-child(4) {
  top: 41%;
  left: 12%;
}
.background.slow > .background-particle:nth-child(5) {
  top: 31%;
  left: 11%;
}
.background.slow > .background-particle:nth-child(6) {
  top: 15%;
  left: 69%;
}
.background.slow > .background-particle:nth-child(7) {
  top: 38%;
  left: 24%;
}
.background.slow > .background-particle:nth-child(8) {
  top: 27%;
  left: 39%;
}
.background.slow > .background-particle:nth-child(9) {
  top: 11%;
  left: 19%;
}
.background.slow > .background-particle:nth-child(10) {
  top: 39%;
  left: 11%;
}
.background.slow > .background-particle:nth-child(11) {
  top: 31%;
  left: 1%;
}
.background.slow > .background-particle:nth-child(12) {
  top: 48%;
  left: 96%;
}
.background.slow > .background-particle:nth-child(13) {
  top: 23%;
  left: 34%;
}
.background.slow > .background-particle:nth-child(14) {
  top: 92%;
  left: 97%;
}
.background.slow > .background-particle:nth-child(15) {
  top: 66%;
  left: 69%;
}
.background.slow > .background-particle:nth-child(16) {
  top: 30%;
  left: 33%;
}
.background.slow > .background-particle:nth-child(17) {
  top: 53%;
  left: 77%;
}
.background.slow > .background-particle:nth-child(18) {
  top: 44%;
  left: 27%;
}
.background.slow > .background-particle:nth-child(19) {
  top: 46%;
  left: 7%;
}
.background.slow > .background-particle:nth-child(20) {
  top: 72%;
  left: 77%;
}
.background.slow > .background-particle:nth-child(21) {
  top: 69%;
  left: 40%;
}
.background.slow > .background-particle:nth-child(22) {
  top: 74%;
  left: 25%;
}
.background.slow > .background-particle:nth-child(23) {
  top: 64%;
  left: 16%;
}
.background.slow > .background-particle:nth-child(24) {
  top: 41%;
  left: 47%;
}
.background.slow > .background-particle:nth-child(25) {
  top: 30%;
  left: 42%;
}
.background.slow > .background-particle:nth-child(26) {
  top: 76%;
  left: 47%;
}
.background.slow > .background-particle:nth-child(27) {
  top: 82%;
  left: 73%;
}
.background.slow > .background-particle:nth-child(28) {
  top: 6%;
  left: 82%;
}
.background.slow > .background-particle:nth-child(29) {
  top: 77%;
  left: 97%;
}
.background.slow > .background-particle:nth-child(30) {
  top: 15%;
  left: 36%;
}
.background.slow > .background-particle:nth-child(31) {
  top: 47%;
  left: 49%;
}
.background.slow > .background-particle:nth-child(32) {
  top: 83%;
  left: 59%;
}
.background.slow > .background-particle:nth-child(33) {
  top: 100%;
  left: 7%;
}
.background.slow > .background-particle:nth-child(34) {
  top: 16%;
  left: 18%;
}
.background.slow > .background-particle:nth-child(35) {
  top: 33%;
  left: 50%;
}
.background.slow > .background-particle:nth-child(36) {
  top: 11%;
  left: 9%;
}
.background.slow > .background-particle:nth-child(37) {
  top: 81%;
  left: 49%;
}
.background.slow > .background-particle:nth-child(38) {
  top: 27%;
  left: 4%;
}
.background.slow > .background-particle:nth-child(39) {
  top: 7%;
  left: 6%;
}
.background.slow > .background-particle:nth-child(40) {
  top: 27%;
  left: 13%;
}
.background.slow > .background-particle:nth-child(41) {
  top: 13%;
  left: 93%;
}
.background.slow > .background-particle:nth-child(42) {
  top: 19%;
  left: 67%;
}
.background.slow > .background-particle:nth-child(43) {
  top: 98%;
  left: 68%;
}
.background.slow > .background-particle:nth-child(44) {
  top: 67%;
  left: 96%;
}
.background.slow > .background-particle:nth-child(45) {
  top: 35%;
  left: 72%;
}
.background.slow > .background-particle:nth-child(46) {
  top: 30%;
  left: 31%;
}
.background.slow > .background-particle:nth-child(47) {
  top: 52%;
  left: 19%;
}
.background.slow > .background-particle:nth-child(48) {
  top: 1%;
  left: 53%;
}
.background.slow > .background-particle:nth-child(49) {
  top: 92%;
  left: 78%;
}
.background.slow > .background-particle:nth-child(50) {
  top: 69%;
  left: 72%;
}
.background.medium > .background-particle:nth-child(1) {
  top: 67%;
  left: 34%;
}
.background.medium > .background-particle:nth-child(2) {
  top: 10%;
  left: 31%;
}
.background.medium > .background-particle:nth-child(3) {
  top: 67%;
  left: 47%;
}
.background.medium > .background-particle:nth-child(4) {
  top: 60%;
  left: 35%;
}
.background.medium > .background-particle:nth-child(5) {
  top: 27%;
  left: 10%;
}
.background.medium > .background-particle:nth-child(6) {
  top: 22%;
  left: 82%;
}
.background.medium > .background-particle:nth-child(7) {
  top: 47%;
  left: 64%;
}
.background.medium > .background-particle:nth-child(8) {
  top: 46%;
  left: 42%;
}
.background.medium > .background-particle:nth-child(9) {
  top: 33%;
  left: 25%;
}
.background.medium > .background-particle:nth-child(10) {
  top: 55%;
  left: 98%;
}
.background.medium > .background-particle:nth-child(11) {
  top: 87%;
  left: 43%;
}
.background.medium > .background-particle:nth-child(12) {
  top: 67%;
  left: 16%;
}
.background.medium > .background-particle:nth-child(13) {
  top: 52%;
  left: 51%;
}
.background.medium > .background-particle:nth-child(14) {
  top: 50%;
  left: 6%;
}
.background.medium > .background-particle:nth-child(15) {
  top: 2%;
  left: 40%;
}
.background.medium > .background-particle:nth-child(16) {
  top: 1%;
  left: 97%;
}
.background.medium > .background-particle:nth-child(17) {
  top: 40%;
  left: 61%;
}
.background.medium > .background-particle:nth-child(18) {
  top: 8%;
  left: 13%;
}
.background.medium > .background-particle:nth-child(19) {
  top: 30%;
  left: 30%;
}
.background.medium > .background-particle:nth-child(20) {
  top: 81%;
  left: 73%;
}
.background.medium > .background-particle:nth-child(21) {
  top: 42%;
  left: 63%;
}
.background.medium > .background-particle:nth-child(22) {
  top: 1%;
  left: 74%;
}
.background.medium > .background-particle:nth-child(23) {
  top: 6%;
  left: 73%;
}
.background.medium > .background-particle:nth-child(24) {
  top: 26%;
  left: 6%;
}
.background.medium > .background-particle:nth-child(25) {
  top: 2%;
  left: 44%;
}
.background.medium > .background-particle:nth-child(26) {
  top: 26%;
  left: 64%;
}
.background.medium > .background-particle:nth-child(27) {
  top: 44%;
  left: 30%;
}
.background.medium > .background-particle:nth-child(28) {
  top: 86%;
  left: 80%;
}
.background.medium > .background-particle:nth-child(29) {
  top: 46%;
  left: 56%;
}
.background.medium > .background-particle:nth-child(30) {
  top: 65%;
  left: 71%;
}
.background.medium > .background-particle:nth-child(31) {
  top: 25%;
  left: 90%;
}
.background.medium > .background-particle:nth-child(32) {
  top: 57%;
  left: 57%;
}
.background.medium > .background-particle:nth-child(33) {
  top: 74%;
  left: 38%;
}
.background.medium > .background-particle:nth-child(34) {
  top: 23%;
  left: 95%;
}
.background.medium > .background-particle:nth-child(35) {
  top: 71%;
  left: 41%;
}
.background.medium > .background-particle:nth-child(36) {
  top: 84%;
  left: 96%;
}
.background.medium > .background-particle:nth-child(37) {
  top: 83%;
  left: 84%;
}
.background.medium > .background-particle:nth-child(38) {
  top: 63%;
  left: 83%;
}
.background.medium > .background-particle:nth-child(39) {
  top: 10%;
  left: 79%;
}
.background.medium > .background-particle:nth-child(40) {
  top: 36%;
  left: 85%;
}
.background.medium > .background-particle:nth-child(41) {
  top: 97%;
  left: 43%;
}
.background.medium > .background-particle:nth-child(42) {
  top: 54%;
  left: 30%;
}
.background.medium > .background-particle:nth-child(43) {
  top: 22%;
  left: 89%;
}
.background.medium > .background-particle:nth-child(44) {
  top: 94%;
  left: 80%;
}
.background.medium > .background-particle:nth-child(45) {
  top: 10%;
  left: 52%;
}
.background.medium > .background-particle:nth-child(46) {
  top: 34%;
  left: 3%;
}
.background.medium > .background-particle:nth-child(47) {
  top: 82%;
  left: 57%;
}
.background.medium > .background-particle:nth-child(48) {
  top: 1%;
  left: 73%;
}
.background.medium > .background-particle:nth-child(49) {
  top: 70%;
  left: 96%;
}
.background.medium > .background-particle:nth-child(50) {
  top: 7%;
  left: 22%;
}
.background.fast > .background-particle:nth-child(1) {
  top: 83%;
  left: 62%;
}
.background.fast > .background-particle:nth-child(2) {
  top: 30%;
  left: 79%;
}
.background.fast > .background-particle:nth-child(3) {
  top: 74%;
  left: 79%;
}
.background.fast > .background-particle:nth-child(4) {
  top: 95%;
  left: 49%;
}
.background.fast > .background-particle:nth-child(5) {
  top: 11%;
  left: 1%;
}
.background.fast > .background-particle:nth-child(6) {
  top: 45%;
  left: 45%;
}
.background.fast > .background-particle:nth-child(7) {
  top: 17%;
  left: 26%;
}
.background.fast > .background-particle:nth-child(8) {
  top: 40%;
  left: 44%;
}
.background.fast > .background-particle:nth-child(9) {
  top: 78%;
  left: 29%;
}
.background.fast > .background-particle:nth-child(10) {
  top: 43%;
  left: 89%;
}
.background.fast > .background-particle:nth-child(11) {
  top: 39%;
  left: 64%;
}
.background.fast > .background-particle:nth-child(12) {
  top: 59%;
  left: 72%;
}
.background.fast > .background-particle:nth-child(13) {
  top: 60%;
  left: 100%;
}
.background.fast > .background-particle:nth-child(14) {
  top: 64%;
  left: 62%;
}
.background.fast > .background-particle:nth-child(15) {
  top: 40%;
  left: 61%;
}
.background.fast > .background-particle:nth-child(16) {
  top: 100%;
  left: 4%;
}
.background.fast > .background-particle:nth-child(17) {
  top: 76%;
  left: 45%;
}
.background.fast > .background-particle:nth-child(18) {
  top: 44%;
  left: 77%;
}
.background.fast > .background-particle:nth-child(19) {
  top: 5%;
  left: 18%;
}
.background.fast > .background-particle:nth-child(20) {
  top: 89%;
  left: 90%;
}
.background.fast > .background-particle:nth-child(21) {
  top: 17%;
  left: 2%;
}
.background.fast > .background-particle:nth-child(22) {
  top: 68%;
  left: 55%;
}
.background.fast > .background-particle:nth-child(23) {
  top: 2%;
  left: 44%;
}
.background.fast > .background-particle:nth-child(24) {
  top: 59%;
  left: 86%;
}
.background.fast > .background-particle:nth-child(25) {
  top: 77%;
  left: 21%;
}
.background.fast > .background-particle:nth-child(26) {
  top: 18%;
  left: 74%;
}
.background.fast > .background-particle:nth-child(27) {
  top: 8%;
  left: 69%;
}
.background.fast > .background-particle:nth-child(28) {
  top: 56%;
  left: 14%;
}
.background.fast > .background-particle:nth-child(29) {
  top: 8%;
  left: 88%;
}
.background.fast > .background-particle:nth-child(30) {
  top: 76%;
  left: 90%;
}
.background.fast > .background-particle:nth-child(31) {
  top: 21%;
  left: 23%;
}
.background.fast > .background-particle:nth-child(32) {
  top: 93%;
  left: 94%;
}
.background.fast > .background-particle:nth-child(33) {
  top: 17%;
  left: 42%;
}
.background.fast > .background-particle:nth-child(34) {
  top: 4%;
  left: 28%;
}
.background.fast > .background-particle:nth-child(35) {
  top: 86%;
  left: 2%;
}
.background.fast > .background-particle:nth-child(36) {
  top: 70%;
  left: 25%;
}
.background.fast > .background-particle:nth-child(37) {
  top: 62%;
  left: 35%;
}
.background.fast > .background-particle:nth-child(38) {
  top: 16%;
  left: 6%;
}
.background.fast > .background-particle:nth-child(39) {
  top: 47%;
  left: 4%;
}
.background.fast > .background-particle:nth-child(40) {
  top: 21%;
  left: 96%;
}
.background.fast > .background-particle:nth-child(41) {
  top: 56%;
  left: 52%;
}
.background.fast > .background-particle:nth-child(42) {
  top: 16%;
  left: 29%;
}
.background.fast > .background-particle:nth-child(43) {
  top: 60%;
  left: 97%;
}
.background.fast > .background-particle:nth-child(44) {
  top: 19%;
  left: 45%;
}
.background.fast > .background-particle:nth-child(45) {
  top: 41%;
  left: 68%;
}
.background.fast > .background-particle:nth-child(46) {
  top: 10%;
  left: 11%;
}
.background.fast > .background-particle:nth-child(47) {
  top: 30%;
  left: 5%;
}
.background.fast > .background-particle:nth-child(48) {
  top: 72%;
  left: 83%;
}
.background.fast > .background-particle:nth-child(49) {
  top: 72%;
  left: 82%;
}
.background.fast > .background-particle:nth-child(50) {
  top: 82%;
  left: 63%;
}

body {
  margin: 0 30%;
}

.container {
  display: flex;
  height: 100vh;
  min-height: 500px;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.logo {
  width: 30%;
  display: block;
  margin: auto;
}

.buttons p {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buttons p > a {
  padding: 15px;
  display: flex;
  align-items: center;
}

.buttons p > a > img {
  margin-right: 6px;
  width: 12px;
  height: 12px;
}

/* support most screen sizes */
/* very large screens (TVs and other) */
/* big screens (desktops) */
@media (max-width: 1200px) {
  body {
    margin: 0 25%;
  }
}
/* medium screens (laptops) */
@media (max-width: 1024px) {
  body {
    margin: 0 15%;
  }
}
/* smaller screens (tablets) */
@media (max-width: 768px) {
  body {
    margin: 0 10%;
  }
}
/* small screens (phones) */
@media (max-width: 480px) {
  body {
    margin: 0 10px;
  }

  .logo {
    width: 40%;
  }
}
