body {
    font-family: 'Merriweather', serif;
    color: #b4b3b1;
    background-color: #2f3031;
}


a:visited {
    color: initial;
}

a {
    text-decoration: none;
    color: #407cc2;
}

code {
    font-family: 'Fira Code', monospace;
}

img {
    max-width: 100%;
}

/* support most screen sizes */
/* very large screens (TVs and other) */
body {
    margin: 0 30%;
}

.logo {
    width: 30%;
    display: block;
    margin: auto;
}

.icon {
    width: 12px;
}

/* big screens (desktops) */
@media (max-width: 1200px) {
    body {
        margin: 0 25%;
    }
}

/* medium screens (laptops) */
@media (max-width: 1024px) {
    body {
        margin: 0 15%;
    }
}

/* smaller screens (tablets) */
@media (max-width: 768px) {
    body {
        margin: 0 10%;
    }
}

/* small screens (phones) */
@media (max-width: 480px) {
    body {
        margin: 0 10px;
    }

    .logo {
        width: 40%;
    }
}

/* adjust the top and bottom margin a little */
body {
    margin-top: -5px;
    margin-bottom: 20px;
}
