@import 'settings';
@import 'background.scss';
@import 'front-page.scss';
@import 'main.scss';
@import 'footer.scss';

body {
    font-family: "Merriweather", serif;
    color: $font-color;
    background-color: $background-color;
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: $link-font-color;
}

code {
    font-family: "Fira Code", monospace;
}

img {
    max-width: 100%;
}

hr {
    border: none;
    border-top: solid 1px $font-color;
    opacity: .3;
    margin: 40px 0;
}

.shadow-transition {
    $height: 30px;
    $intensity: 8px;

    overflow: hidden;
    padding-top: $height;
    margin-top: -$height;
    position: relative;
    z-index: 10;
    height: 0;

    &.down {
        padding: 0;
        margin: 0;
        padding-bottom: $height;
        margin-bottom: -$height;

        .transition {
            margin-top: -$intensity;
        }
    }

    .transition {
        box-shadow: black 0 0 $height;
        width: 500%;
        margin-left: -200%;
        height: $intensity;
    }
}

/* width */
::-webkit-scrollbar {
  background: lighten(#333, 3.5%);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: lighten(#333, 9%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(#333, 30%);
}
/* Corner */
::-webkit-scrollbar-corner {
  background: lighten(#333, 3.5%);
}
/* Resizer */
::-webkit-resizer {
  background: lighten(#333, 8%);
}

/* support most screen sizes */
/* very large screens (TVs and other) */
.container {
    margin: 0 15%;
}

/* big screens (desktops) */
@media (max-width: 1200px) {
    .container {
        margin: 0 10%;
    }
}

/* medium screens (laptops) */
@media (max-width: 1024px) {
    .container {
        margin: 0 10%;
    }
}

/* smaller screens (tablets) */
@media (max-width: 768px) {
    .container {
        margin: 0 10%;
    }
}

/* small screens (phones) */
@media (max-width: 480px) {
    .container {
        margin: 0 10px;
    }

    .logo {
        width: 40%;
    }
}
