body {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #2e2e2e;
    color: #efefef;
}

.logo {
    background-image: url('assets/avatar.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}
